<nav>
      <div class="container">
        
        <form method="POST" action="/api/newEvent">
            <p> Band Name </p>
            <input type="text" name="bandName" style="width: 50%" placeholder="Type Band Name Here" value>
            
            <p> Venue To Play at </p>
            <input type="text" name="venue" style="width: 50%" placeholder="Type Venue Name Here">

            <p> Date of Event </p>
            <input type="text" name="date" style="width: 50%" placeholder="Type Event Date Here">

            <p> Ticket Price </p>
            <input type="text" name="price" style="width: 50%" placeholder="Type Ticket Price Here">

            <p> Facebook Event </p>
            <input type="text" name="facebook" style="width: 50%" placeholder="Paste Facebook Event Here">

            <button href="/api/newEvent" type="submit"> Submit </button>
        </form>


        

        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="color:black">Login</a>
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="color:black">Cancel</a>
        </div>
      </div>
