<nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Local Clutch</a>
    
          <ul class="right hide-on-med-and-down">
            <li><a class="modal-trigger" href="index.html"><i class="material-icons right">home</i> Home </a></li>
          </ul>
        </div>
      </div>
         
{{!-- <div>
  {{#each show}}
    <p> this.bandName </p>
  {{/each}}
</div> --}}
    </nav>
    <div class="container">
    <table class="responsive-table striped center-align">
        <thead>
          <tr>
              <th> Venue </th>
              <th> Date </th>
              <th> Price </th>
          </tr>
        </thead>

        <tbody>
            {{#each event}}
              <tr> 
                <td> {{this.Venue}} </td>
                <td> {{this.Date}} </td>
                <td> {{this.Price}} </td>
              </tr>
            {{/each}}
        </tbody>
      </table>
      </div>
