<body>
    <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Your cart</a></li>
  <li><a href="#!">Merchandise</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
   <ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Your cart</a></li>
  <li><a href="#!">Merchandise</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
   <ul id="dropdown3" class="dropdown-content">
  <li><a href="#!">Indie</a></li>
  <li><a href="#!">Metal</a></li>
  <li class="divider"></li>
  <li><a href="#!">Pop</a></li>
</ul>

    <nav>
    <nav>
    <div class="nav-wrapper" id = "navtop">
    <div id = "fa">
      <a href="#" class="brand-logo center">Austin Local Clutch </a>
      </div>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  <div class="nav-wrapper" id = "navbot">
    <a href="#!" class="brand-logo"></a>
    <ul class="center hide-on-med-and-down">

        <a class="waves-effect waves-light btn-large"><i class="material-icons left"></i>T-Shirts</a>
        <a class="waves-effect waves-light btn-large"><i class="material-icons right"></i>Events</a>


  </ul>
  </div>

<div>
    {{#each Events}}
        <p> {{this.name }}</p>
    {{/each}}
</div>


</nav>

</nav>
</body>