<nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Local Clutch</a>
    
          <ul class="right hide-on-med-and-down">
            <li><a class="modal-trigger" href="index.html"><i class="material-icons right">home</i> Home </a></li>
          </ul>
        </div>
      </div>
         
    </nav>
    <div class="container">
    <table class="responsive-table striped center-align">
        <thead>
          <tr>
              <th> Venue </th>
              <th> Date </th>
              <th> Price </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            {{#each show}}
              {{band/band-shows}}
            {{/each}}
          </tr>
        </tbody>
      </table>
      </div>
