<nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Local Clutch</a>
    
          <ul class="right hide-on-med-and-down">
            <li><a class="modal-trigger" href="/"><i class="material-icons right">home</i> Home </a></li>
            <li><a href="/createEvent"><i class="material-icons right">lock</i> Create Event </a></li>
            <li><a class="modal-trigger" href='/events'> Search By Artist </a></li>
          </ul>
          <ul id="nav-mobile" class="sidenav">
          <li><a class="modal-trigger" href="/"><i class="material-icons right">home</i> Home </a></li>
            <li><a href="/createEvent"><i class="material-icons right">lock</i> Create Event </a></li>
            <li><a class="modal-trigger" href='/events'> Search By Artist </a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </div>
         
{{!-- <div>
  {{#each show}}
    <p> this.bandName </p>
  {{/each}}
</div> --}}

    {{!-- <form method="GET" action="/eventsQuery">
            <p> Band Name </p>
            <input type="text" name="bandName" style="width: 50%" placeholder="Type Band Name Here" value>
            
            <p> Venue</p>
            <input type="text" name="venue" style="width: 50%" placeholder="Type Venue Name Here">

            <button href="/eventsQuery" type="submit"> Submit </button>
        </form> --}}


    </nav>
    <div class="container">

<div class="container">

    <form method="GET" action="/genreQuery">
            <h3> Search By Genre Here </h3>
            <input type="text" name="genre" placeholder="Type Genre Here">
            
            <br/>
            <button href="/genreQuery" type="submit"> Submit </button>
    </form>
<br>

 </div>

    <table class="responsive-table striped center-align">
        <thead>
          <tr>
              <th> Band Name </th>
              <th> Genre </th>
              <th> Venue </th>
              <th> Date </th>
              <th> Time </th>
              <th> Price </th>
          </tr>
        </thead>

        <tbody>
            {{#each event}}
              {{>bands/band-shows}}
            {{/each}}
        </tbody>
      </table>

  <ul id='dropdown1' class='dropdown-content' style="color:black">
    {{#each event}}
      {{>bands/band-names}}
    {{/each}}
  </ul>
        
</div>