<nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Local Clutch</a>
    
          <ul class="right hide-on-med-and-down">
            <li><a href="/createEvent"><i class="material-icons right">create</i> Create Event </a></li>
            <li><a  href="/signup"><i class="material-icons right">lock</i> Login </a></li>
            <li><a href="/signup"><i class="material-icons right">lock</i> Sign Up </a></li>
          </ul>
        </div>
      </div>
         
    </nav>

    <div class="container" style="background-color:#eeeeee;margin-top:50px"></div>
        <div class="carousel">
            {{#each band}}
              {{>bands/band-logos}}
            {{/each}}
        </div>
    </div>
        
        <h6 class="center-align"> Browse Local Austin Artists to View Upcoming Events </h6>
      

