<nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Local Clutch</a>
    
          <ul class="right hide-on-med-and-down">
            <li><a href="/createEvent"><i class="material-icons right">create</i> Create Event </a></li>
            <li><a class="modal-trigger" href="#modalLogin"><i class="material-icons right">lock</i> Login </a></li>
            <li><a class="modal-trigger" href="/signup"><i class="material-icons right">lock</i> sign up </a></li>
          </ul>
        </div>
      </div>
         
    </nav>

    <div class="container" style="background-color:#eeeeee;margin-top:50px"></div>
        <div class="carousel">
            {{#each band}}
              
            {{/each}}
        </div>
        
        <h6 class="center-align"> Browse Local Austin Artists to View Upcoming Events </h6>
      
    </div>

      <div id="modalLogin" class="modal">
        <div class="modal-content">
          <h4 style="color:black"> Login </h4>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name"> Email </label>
                </div>
                <div class="input-field col s6">
                  <input id="password" type="password" class="validate">
                  <label for="password"> Password </label>
                </div>
                </div>
          </div>
            </form>
        </div>


        

        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="color:black">Login</a>
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="color:black">Cancel</a>
        </div>
      </div>

